<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<% include partials/_header.ejs %>
<a href = "/urls/new">Create new tiny URL</a> 
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <%for (let key in newURLS) {%>
    <ul>
        <li>
           <a href ="<%= newURLS[key].longURL %>"><%= key %></a> : <%= newURLS[key].longURL %> <form method="POST" action="/urls/<%= key %>/delete"><button type="submit">Delete</button></form>
           <a href='/urls/<%= key %>'>Edit</a> 
        </li>
    </ul>    
 <%}%>
</body>
</html>
